<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>NTV Homestay</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="../css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../css/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <style>
    .panel-body {
        padding: 15px;
        height: 73vh;
    }
    .legendLabel{
        font-size:16px;
    }
    .font-size-5{
        font-size:5rem
    }
    </style>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav th:replace="~{admin/navigation :: #mainNavbar}"></nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Tổng quan</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Biểu đồ doanh thu các Homestay
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="flot-pie-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i th:class="${cardOne.icon}"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div th:text="${cardOne.number}" class="huge">26</div>
                                                    <div th:text="${cardOne.Title}">Support Tickets!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/view/homestay">
                                            <div class="panel-footer">
                                                <span class="pull-left">Xem chi tiết</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div  class="col-md-12">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="font-size-5 fa-solid fa-building-user"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div th:text="${cardTwo.number}" class="huge">26</div>
                                                <div th:text="${cardTwo.Title}">Support Tickets!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/view/homestay">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </div>
                                <div class="row">
                            <div  class="col-md-12">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i th:class="${cardThree.icon}"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div th:text="${cardThree.number}" class="huge">26</div>
                                                <div th:text="${cardThree.Title}">Support Tickets!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                                </div>
                                    <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i th:class="${cardFour.icon}"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div th:text="${cardFour.number}" class="huge">26</div>
                                                <div th:text="${cardFour.Title}">Support Tickets!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>


        <script src="/js/utils.js"></script>
        <!-- Flot Charts JavaScript -->
        <script src="/js/flot/excanvas.min.js"></script>
        <script src="/js/flot/jquery.flot.js"></script>
        <script src="/js/flot/jquery.flot.pie.js"></script>
        <script src="/js/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/js/flot-data.js"></script>


        <!-- Custom Theme JavaScript -->
        <script src="/js/startmin.js"></script>

    </body>
</html>
