<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>NTV Homestay</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="../css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../css/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
              integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav th:replace="~{admin/navigation :: #mainNavbar}"></nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Khách hàng</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div  class="row">
                        <button class="ml-16 mb-16 btn btn-primary" onclick="showFormAdd();" disabled>Thêm khách hàng</button>
                    </div>

                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Danh sách khách hàng
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead class="bg-orange">
                                                <tr>
                                                    <th>mã</th>
                                                    <th>Họ và tên</th>
                                                    <th>Tên tài khoản</th>
                                                    <th>Email</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Tuổi</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Giới tính</th>
                                                    <th scope="col">Lựa chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody id="user-list">
                                                <tr class="odd gradeX">
                                                    <td>Trident</td>
                                                    <td>Internet Explorer 4.0</td>
                                                    <td>Win 95+</td>
                                                    <td class="center">4</td>
                                                    <td class="center">X</td>
                                                    <td class="center">4</td>
                                                    <td class="center">4</td>
                                                    <td class="center">4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav aria-label="...">
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1"><i class="fa-solid fa-chevron-left"></i></a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
                                                </li>
                                            </ul>
                                        </nav>


                                    </div>
                                    <!-- /.table-responsive -->
                                   
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div id="modal-container">
                        <div class="modal" id="modal-user" aria-hidden="false">
                            <div class="modal-backdrop fade in" style="height: 656px;"></div>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header flex-basic flex-sp-between">
                                        <h3 id="modal-user-title">Cập nhật thông tin khách hàng</h3>

                                        <button type="button" class=" close"  onclick="hideModal();"  data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action=""  class="form-content margin-top-24 form" role="form">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label class="form-label font-weight-bold">Họ tên<span class="error"> </span> </label>
                                                            <input  type="hidden" name="userId" class="form-control" >
                                                            <input type="text" name="fullName" class="form-control"   placeholder="họ và tên">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Tên tài khoản<span class="error"> </span> </label>
                                                            <input type="text" name="username" class="form-control" placeholder="tài khoản" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Email<span class="error"> </span> </label>
                                                            <input type="text" name="email" class="form-control"   placeholder="email" readonly>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="form-label font-weight-bold">Tuổi<span class="error"></span> </label>
                                                            <input type="text" name="age" class="form-control" placeholder="Tuổi">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label class="form-label font-weight-bold">Địa chỉ<span class="error"> </span> </label>
                                                            <input type="text" name="address" class="form-control"  placeholder="địa chỉ" >
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Số điện thoại   <span class="error"> </span> </label>
                                                            <input type="text" name="phone" id="phone"  class="form-control" placeholder="số điện thoại" readonly>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Giới tính<span class="error"> </span> </label>
                                                            <select class= "form-control custom-select form-select" aria-label="Default select example"  name="gender">
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label  class="form-label font-weight-bold">Mật khẩu<span class="error"> </span> </label>
                                                            <input type="password" name="password" id="password"  class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnSave" onclick="save();" >Lưu</button>
                                        <button type="button" class="btn btn-secondary" onclick="hideModal();"  data-dismiss="modal">Thoát</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    booking details-->
                    <div id="modal-booking-detail">
                        <div class="modal" id="modal-booking" aria-hidden="false">
                            <div class="modal-backdrop fade in" style="height: 656px;"></div>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header flex-basic flex-sp-between">
                                        <h3 id="modal-booking-title">Chi tiết khách hàng</h3>
                                        <button type="button" class=" close"  onclick="hideModal();"  data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action=""  class="form-content margin-top-24 form" role="form">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label class="form-label font-weight-bold">Họ tên<span class="error"> </span> </label>
                                                            <input  type="hidden" name="userId" class="form-control" >
                                                            <input type="text" name="fullName" class="form-control"   placeholder="họ và tên">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Tên tài khoản<span class="error"> </span> </label>
                                                            <input type="text" name="username" class="form-control" placeholder="tài khoản">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Email<span class="error"> </span> </label>
                                                            <input type="text" name="email" class="form-control"   placeholder="email">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="form-label font-weight-bold">Tuổi<span class="error"></span> </label>
                                                            <input type="text" name="age" class="form-control" placeholder="Tuổi">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label class="form-label font-weight-bold">Địa chỉ<span class="error"> </span> </label>
                                                            <input type="text" name="address" class="form-control"  placeholder="địa chỉ">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Số điện thoại   <span class="error"> </span> </label>
                                                            <input type="text" name="phone"   class="form-control" placeholder="số điện thoại">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label  class="form-label font-weight-bold">Giới tính<span class="error"> </span> </label>
                                                            <select class= "form-control custom-select form-select" aria-label="Default select example"  name="gender">
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="hideModal();"  data-dismiss="modal">Thoát</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
                integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- DataTables JavaScript -->
        <script src="../js/dataTables/jquery.dataTables.min.js"></script>
        <script src="../js/dataTables/dataTables.bootstrap.min.js"></script>
        <script src="../js/toastr-config.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>
        <script src="../js/utils.js"></script>
        <script src="../js/admin/user.js"></script>
    </body>
</html>
