<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="../css/component/success-page.css" rel="stylesheet">
</head>

<body>
<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>Chúng tôi đã gửi xác nhận đến mail của bạn<br/> vui lòng truy cập mail!</p>
</div>
</body>
</html>