<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{users/head :: #head}">
</head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<!-- <div class="loader_bg">
      <div class="loader"><img src="images/loading.gif" alt="#" /></div>
   </div> -->
<!-- end loader -->
<!-- header -->
<header th:replace="~{users/navigation :: #userHeader}"></header>
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
<div th:replace="~{users/navigation::#userCarousel}"></div>
<!-- end banner -->
<!-- form_lebal -->
<section>
   <div class="container">
   </div>
</section>
<!-- end form_lebal -->
<!-- choose  section -->
<div class="choose mt-0">
   <div class="container">
      <div class="row">
         <div class="col-md-4 ">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="card pl-0 ml-0 mr-0">
                     <div class="card-body">
                        <h5 class="card-title">Tóm tắt giá căn hộ <span th:text="${bookingResponse.roomName}"></span> của bạn</h5>
                        <div class="row">
                           <div class="col-md-6">
                              <p >Căn hộ <span th:text="${bookingResponse.roomName}"></span> có giá thuê</p>
                           </div>
                           <div class="col-md-6 t-color-price">
                              <p><span  th:text="${#numbers.formatDecimal(bookingResponse.price, 0, 'COMMA', 0, 'POINT')}"></span> VND/1 đêm</p>
                           </div>
                        </div>
                        <div class="row border-top">
                           <div class="col-md-6">
                              <p><span th:text="${bookingResponse.totalDate}"></span> đêm</p>
                              <p>Tổng</p>
                              <p  class=" border-top">Để giữ phòng, quý khách vui lòng thanh toán:</p>
                           </div>
                           <div class="col-md-6 t-color-price border-left">
                              <p><span  th:text="${#numbers.formatDecimal(bookingResponse.totalPrice, 0, 'COMMA', 0, 'POINT')}"></span> VND</p>
                              <p><span  th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount, 0, 'COMMA', 0, 'POINT')}"></span> VND</p>
                              <p class=" border-top"><span  th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount, 0, 'COMMA', 0, 'POINT')}"></span>VND</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <p>Đã bao gồm 10% thuế VAT</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="card pl-0 ml-0 mr-0">
                     <div class="card-body">
                        <h5 class="card-title ">Chi phí huỷ là bao nhiêu?</h5>
                        <div class="row ">
                           <div class="col-md-12 ">
                              <p class="text-primary" >Miễn phí hủy đến 13:59, <span class="text-primary" th:text=" ${#temporals.format(bookingResponse.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                           </div>
                        </div>
                        <div class="row ">
                           <div class="col-md-6 border-top">
                              <p class="text-primary" >Từ 14:00 ngày <span class="text-primary" th:text=" ${#temporals.format(bookingResponse.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                           </div>
                           <div class="col-md-6 border-top t-color-price">
                              <p><span  th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount, 0, 'COMMA', 0, 'POINT')}"></span> VND</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 ">
                  <div class="card pl-0 ml-0 mr-0">
                     <div class="card-body">
                        <h5 class="card-title">Mã giảm giá của chúng tôi</h5>
                        <div class="row">
                           <div class="col-md-12">
                              <th:block th:if="${bookingResponse.promotion!=null}">
                                 <p>Đặt từ <span class="text-primary" th:text="${#temporals.format( bookingResponse.promotion.startDate,'dd/MM/yyyy')}"></span> đến <span class="text-primary" th:text="${#temporals.format( bookingResponse.promotion.endDate,'dd/MM/yyyy')}"></span></p>
                              </th:block>
                              <th:block th:if="${bookingResponse.promotion==null}">
                                 <p>Hiện tại chưa có sẵn</p>
                              </th:block>
                           </div>
                        </div>
                          <div class="row">
                             <div class="col-md-12">
                                <th:block th:if="${bookingResponse.promotion!=null}">
                                   <p class="float-right">Giảm <span th:text="${bookingResponse.promotion.percentDiscount}"></span>%</p>
                                </th:block>
                             </div>
                          </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-8 ">
            <div class="row mb-2">

            </div>
            <div class="row mb-2">

            </div>
            <div class="row">
               <div class="col-md-12">
                  <th:block th:if="${bookingResponse.images.size()==0}">
                     <div class="row">
                     <div class="col-lg-6 item mb-4">
                        <a class="lightbox"
                           href="http://www.politicalmetaphors.com/wp-content/uploads/2015/04/blog-shapes-square-windows.jpg">
                           <img class="rounded img-fluid image scale-on-hover"
                                src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image1.jpg">
                        </a>
                     </div>
                     <div class="col-lg-6 item mb-4">
                        <a class="lightbox"
                           href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                           <img class="rounded img-fluid image scale-on-hover"
                                src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                        </a>
                     </div>
                     <div class="col-lg-6 item mb-4">
                        <a class="lightbox"
                           href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                           <img class="rounded img-fluid image scale-on-hover"
                                src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                        </a>
                     </div>
                     <div class="col-lg-6 item mb-4">
                        <a class="lightbox"
                           href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                           <img class="rounded img-fluid image scale-on-hover"
                                src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                        </a>
                     </div>
                  </div>
                  </th:block>
                  <th:block th:if="${bookingResponse.images.size()!=0}">
                     <div  class="row">
                        <div class="col-lg-6 item mb-4" th:each="ele:${bookingResponse.images}">
                           <img class="img-fluid image scale-on-hover rounded" th:src="@{/images/__${ele.name}__}"/>
                        </div>
                     </div>
                  </th:block>
               </div>

            </div>
            <div class="row">
               <div class="col-md-12 ">
                  <div class="card pl-0 ml-0 mr-0">
                     <div class="card-body">
                        <h5 class="card-title">Chi tiết đặt căn hộ của bạn</h5>
                        <input type="hidden" th:value="${bookingResponse.roomId}" name="roomId"/>
                        <h6 class="card-subtitle mb-2 text-muted">Địa chỉ: <span th:text="${bookingResponse.homestay.address.addressName}"></span></h6>
                        <div class="row">
                           <div class="col-md-6">
                              <p>Nhận căn hộ:</p>
                              <input type="hidden" th:value="${bookingResponse.startDate}" name="startDate"/>
                              <p class="text-primary" th:text="${#temporals.format(bookingResponse.startDate,'dd/MM/yyy')}"></p>
                           </div>
                           <div class="col-md-6 border-left">
                              <p>Trả căn hộ:</p>
                              <input type="hidden" th:value="${bookingResponse.endDate}" name="endDate"/>
                              <p class="text-primary" th:text="${#temporals.format(bookingResponse.endDate,'dd/MM/yyyy')}"></p>
                           </div>
                        </div>
                        <p>Tổng thời gian lưu trú:</p>
                        <p class="text-primary" ><span th:text="${bookingResponse.totalDate}"></span>: đêm</p>
                        <input type="hidden" th:value="${bookingResponse.totalDate}" name="totalDate"/>
                        <div class="row">
                           <div class="col-md-12 border-top">
                              <p>Bạn đã chọn</p>
                              <div class="row">
                                 <div class="col-md-6">
                                    <p>1 căn hộ cho <span class="text-primary" th:text="${bookingResponse.numberPersons}"></span> người lớn</p>
                                    <input type="hidden" th:value="${bookingResponse.numberPersons}" name="numberPersons"/>
                                    <p>Lưu trữ tối đa <span class="text-primary" th:text="${bookingResponse.numberOfPerson}"></span></p>
                                 </div>
                                 <div class="col-md-6 border-left" >
                                    <p>Số giường ngủ <span class="text-primary" th:text="${bookingResponse.bedNumbers}"></span></p>
                                    <p>Mô tả <span th:text="${bookingResponse.roomDescription}"></span></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <form role="form" class="card ml-0 mr-0 mt-0 mb-5 pl-2 pr-2 pb-2 pt-2 ">
                     <h2 class="t-title">Thông tin đầy đủ của Quý khách</h2>
                     <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label for="fullName">Họ và tên</label>
                              <input type="text" name="fullName" readonly id="fullName" class="form-control bg-white"
                                     placeholder="Họ và tên" tabindex="1" th:value="${bookingResponse.user.fullName}">
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label for="email">Email</label>
                              <input type="text" name="email" readonly id="email" class="form-control bg-white" placeholder="email"
                                     tabindex="2" th:value="${bookingResponse.user.email}">
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label for="username">Tên tài khoản</label>
                              <input type="text" name="username" readonly id="username" class="form-control bg-white"
                                     placeholder="Tên tài khoản" tabindex="1" th:value="${bookingResponse.user.username}">
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label for="phone">Số điện thoại</label>
                              <input type="text" name="phone" readonly id="phone" class="form-control bg-white"
                                     placeholder="Số điện thoại" tabindex="2" th:value="${bookingResponse.user.phone}">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="phone">Địa chỉ</label>
                        <input type="text" name="address" readonly id="address" class="form-control bg-white"
                               placeholder="Display Name" tabindex="3" th:value="${bookingResponse.user.address}">
                     </div>

                     <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label for="age">Tuổi</label>
                              <input type="text" readonly name="age" id="age" class="form-control bg-white" placeholder="Tuổi"
                                     tabindex="1" th:value="${bookingResponse.user.age}">
                           </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                              <label >Giới tính</label>
                              <input type="text" readonly name="age" id="gender" class="form-control bg-white" placeholder="Tuổi"
                                     tabindex="1" th:value="${bookingResponse.user.gender=='1'?'Nam':'Nữ'}">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

<!-- end testimonial -->
<div class="container">
   <div class="row">
      <div class="t-boder mb-2"></div>
   </div>
</div>
<div class="container">
   <div class="row mt-4">
      <div class="col-xs-5 col-md-4 float-left"></div>
      <div class="col-xs-4 col-md-3 float-left t-total-price">Tổng: <span th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount, 0, 'COMMA', 0, 'POINT')}"></span> VND</div>
      <input type="hidden" name="totalPriceDiscount" th:value="${bookingResponse.totalPriceDiscount}"/>
      <div class="col-xs-3 col-md-2 float-left"><button value="Register" class="btn btn-primary btn-block " id="createPayment" >Thanh Toán</button>
      </div>
      <h5 class=" col-xs-1 col-md-1 float-left">
         Hoặc
      </h5>
      <div class="col-xs-3 col-md-2 float-left"><button class="btn w-100 btn-info" data-toggle="modal" data-target="#depositModal" >Đặt cọc</button>
      </div>
</div>
<div class="container mb-4">
   <div class="row">
   </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Đặt cọc căn hộ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <p>Nhận căn hộ:</p>
                     <input type="hidden" th:value="${bookingResponse.startDate}" name="startDate"/>
                     <p class="text-primary" th:text="${#temporals.format(bookingResponse.startDate,'dd/MM/yyy')}"></p>
                  </div>
                  <div class="col-md-6 border-left">
                     <p>Trả căn hộ:</p>
                     <input type="hidden" th:value="${bookingResponse.endDate}" name="endDate"/>
                     <p class="text-primary" th:text="${#temporals.format(bookingResponse.endDate,'dd/MM/yyyy')}"></p>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-md-12 ">
                     <p class="text-primary" >Miễn phí hủy đến 13:59, <span class="text-primary" th:text=" ${#temporals.format(bookingResponse.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-md-6 border-top">
                     <p class="text-primary" >Từ 14:00 ngày <span class="text-primary" th:text=" ${#temporals.format(bookingResponse.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                     <input type="hidden" th:value="${bookingResponse.lastDayCancel}" name="lastDayCancel"/>
                  </div>
                  <div class="col-md-6 border-top t-color-price">
                     <p><span  th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount/3, 0, 'COMMA', 0, 'POINT')}"></span> VND</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-7">
                     <div class="t-total-price"> Đặt cọc: <span th:text="${#numbers.formatDecimal(bookingResponse.totalPriceDiscount/3, 0, 'COMMA', 0, 'POINT')}"></span> VND</div>

                  </div>
                  <div class="col-md-5">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                     <button type="button" class="btn btn-primary" id="createDeposit" >Đồng ý</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- end footer -->
<!-- Javascript files-->
<footer th:replace="~{users/footer :: #footer}">
</footer>
<div th:replace="~{users/js-src :: #mainJs}"></div>
<div>
   <script src="/js/user/list-apartment.js"></script>
   <script src="/js/user/create-payment.js"></script>
</div>
</body>
</html>