<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{users/head :: #head}">
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
   <!-- end loader -->
   <!-- header -->
   <header th:replace="~{users/navigation :: #userHeader}"></header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <div th:replace="~{users/navigation::#userCarousel}"></div>
   <!-- end banner -->
   <!-- form_lebal -->
   <section>
      <div class="container">

      </div>
   </section>
   <!-- end form_lebal -->
   <!-- choose  section -->
   <div class="choose mt-2">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="row mb-2">
               </div>
               <div class="row mb-2">
               </div>
               <div th:each="ele:${bookingListPage.content}">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="card ml-0 mt-0 mr-0 pl-2 pr-2 pt-2 pb-2 rounded">
                           <div class="row">
                              <div class="col-sm-3">
                                 <img class="d-block t-image-cover-card width-50" src="https://picsum.photos/150?image=641" alt="">
                              </div>
                              <div class="col-sm-9">
                                 <div class="card-block">
                                    <div class="row">
                                       <div class="col-7">
                                          <p class="t-header-card" th:text="${ele.room.roomName}"></p>
                                          <div class="row">
                                             <div class="col-md-6">
                                                <p class="t-header-card-text-red"><span th:text="${ele.room.bedNumbers}"></span> Phòng ngủ </p>
                                                <p class="t-card-text mb-0">Diện tích: <span th:text="${ele.room.area}"></span>m<sup>2</sup></p>
                                                <p class="t-card-text mb-0">Mô tả: <span th:text="${ele.room.roomDescription}"></span></p>
                                                <p class="t-header-card mb-1">Loại phòng: <span th:text="${ele.room.roomType==1?'Cao cấp':'Thường'}"></span></p>
                                             </div>
                                             <div class="col-md-6 border-left">
                                                <p class="t-card-text">Tổng <span th:text="${ele.totalDate}"></span> ngày </p>
                                                <p class="t-card-text">Tổng <span th:text="${ele.numberPersons}"></span> Khách </p>
                                                <th:block th:if="${ele.bookingStatus==1}">
                                                   <p class="t-header-card">Đang được thuê</p>
                                                </th:block>
                                                <th:block th:if="${ele.bookingStatus==0}">
                                                   <p class="t-header-card">Đã hoàn tất</p>
                                                </th:block>
                                             </div>
                                          </div>

                                          <div class="row border-top">
                                             <div class="col-md-6">
                                                <p>Nhận căn hộ:</p>
                                                <input type="hidden" th:value="${ele.startDate}" name="startDate"/>
                                                <p class="text-primary" th:text="${#temporals.format(ele.startDate,'dd/MM/yyy')}"></p>
                                             </div>
                                             <div class="col-md-6 border-left">
                                                <p>Trả căn hộ:</p>
                                                <input type="hidden" th:value="${ele.endDate}" name="endDate"/>
                                                <p class="text-primary" th:text="${#temporals.format(ele.endDate,'dd/MM/yyyy')}"></p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-5">
                                          <div class="row">
                                             <div class="col-md-12">
                                                <th:block th:if="${ele.totalPriceDiscount == ele.depositPrice}">
                                                   <div class="row">
                                                      <div class="col-md-12">
                                                         <p class="t-total-price float-right"><span> Đã thanh toán tổng:</span>
                                                            <span  th:text="${#numbers.formatDecimal(ele.totalPriceDiscount,0,'COMMA',0,'POINT')} "></span>
                                                            <span class="t-header-card-text-red">vnd</span></p>
                                                      </div>
                                                   </div>

                                                </th:block>
                                                <th:block th:if="${ele.totalPriceDiscount > ele.depositPrice}">
                                                   <p class="float-right t-total-price">
                                                      <span> Đã đặt cọc:</span>
                                                      <span  th:text="${#numbers.formatDecimal(ele.depositPrice,0,'COMMA',0,'POINT')} "></span>
                                                      <span class="t-header-card-text-red">vnd</span>
                                                   </p>
                                                </th:block>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-12">
                                                <p class="t-header-card-text-red mb-0 float-right">Bao gồm thuế, phí</p>
                                             </div>
                                          </div>
                                          <th:block th:if="${(ele.totalPriceDiscount == ele.depositPrice)&&(ele.roomRate==null)&&(ele.bookingStatus==0)}">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <!-- Button trigger modal -->
                                                   <button type="button" class="btn btn-primary btn-sm float-right t-width-100  mt-2"
                                                           th:onclick="'showRateRoom(' + ${ele.requestId} + ')'">
                                                     Đánh giá
                                                   </button>
                                                </div>
                                             </div>
                                          </th:block>
                                          <th:block th:if="${(ele.totalPriceDiscount == ele.depositPrice)&&(ele.roomRate!=null)}">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <p class="t-header-card-text-red mb-0 float-right">Đánh giá <span th:text="${#numbers.formatInteger(ele.roomRate.ratePoints,1)}"></span>/5 Sao</p>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-12">
                                             <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-sm float-right t-width-100  mt-2"
                                                        th:onclick="'showRateRoom(' + ${ele.requestId} + ')'" disabled>
                                                   Đã đánh giá
                                                </button>
                                                </div>
                                             </div>
                                          </th:block>
                                          <div class="row">
                                             <div class="col-md-12">
                                                <th:block th:if="${(ele.totalPriceDiscount == ele.depositPrice)&& (ele.bookingStatus==1)}">
                                                   <button type="button" class="btn btn-primary btn-sm float-right t-width-100  mt-2"
                                                           th:onclick="'returnBookingRoom(' + ${ele.requestId} + ')'">
                                                      Trả phòng
                                                   </button>
                                                </th:block>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-12">
                                                <th:block th:if="${ele.bookingStatus==1}">
                                                <button type="button" class="btn btn-primary btn-sm float-right t-width-100  mt-2"
                                                        th:onclick="'showCancelBooking(' + ${ele.requestId} + ')'" >
                                                   Huỷ phòng
                                                </button>
                                                </th:block>
                                                <th:block th:if="${ele.bookingStatus==3}">
                                                   <button type="button" class="btn btn-danger btn-sm float-right t-width-100  mt-2"
                                                           th:onclick="'showCancelBooking(' + ${ele.requestId} + ')'" >
                                                      Chờ xác nhận
                                                   </button>
                                                </th:block>
                                                <th:block th:if="${ele.bookingStatus==2}">
                                                   <button type="button" class="btn btn-primary btn-sm float-right t-width-100  mt-2"
                                                           th:onclick="'showCancelBooking(' + ${ele.requestId} + ')'" disabled >
                                                    Đã Huỷ
                                                   </button>
                                                </th:block>
                                             </div>
                                          </div>

                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal Rate-->
                  <div class="modal fade" th:id="'modalRate'+${ele.requestId}" tabindex="-1" role="dialog" aria-labelledby="modalRateLabel"
                       aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="modalRateLabel">Đánh giá căn hộ</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <div class="container">
                                 <div class="row pl-2">
                                    Mức độ hài lòng của quý khách
                                 </div>
                                 <div class="row">
                                    <div class="rating t-font-size-10">
                                    </div>
                                 </div>
                                 <div class="row pl-2">
                                    <label>Thêm nhận xét</label>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <textarea class="form-control" name="userComment" th:id="'description'+${ele.requestId}"  rows="4"></textarea>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary" th:onclick="'saveRateRoom(' + ${ele.requestId} + ',' + ${ele.user.userId} + ',' + ${ele.room.roomId} + ','+${currentPage}+')'">Gửi đánh giá</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal fade"  th:id="'modalCancel'+${ele.requestId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                       aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel2">Xác nhận huỷ căn hộ</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <div class="container">
                                 <div class="row pl-2">
                                    Quý Khách có chắc chắn muốn huỷ căn hộ ?
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <h5 class="card-title ">Chi phí huỷ là bao nhiêu?</h5>
                                       <div class="row ">
                                          <div class="col-md-12 ">
                                             <p class="text-primary" >Miễn phí hủy đến 13:59, <span class="text-primary" th:text=" ${#temporals.format(ele.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                                          </div>
                                       </div>
                                       <div class="row ">
                                          <div class="col-md-6 border-top">
                                             <p class="text-primary" >Từ 14:00 ngày <span class="text-primary" th:text=" ${#temporals.format(ele.lastDayCancel,'dd/MM/yyyy')}"></span></p>
                                          </div>
                                          <div class="col-md-6 border-top t-color-price">
                                             <p><span  th:text="${#numbers.formatDecimal(ele.depositPrice, 0, 'COMMA', 0, 'POINT')}"></span> VND</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <label>Ngày thuê</label>
                                       <p class="form-control" th:text="${#temporals.format( ele.startDate,'dd/MM/yyyy')}">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <label>Ngày trả</label>
                                       <p class="form-control" th:text="${#temporals.format( ele.endDate,'dd/MM/yyyy')}">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <label>Lý do huỷ</label>
                                       <textarea class="form-control"  th:id="'reason'+${ele.requestId}" rows="4"></textarea>
                                    </div>

                                 </div>
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary" th:onclick="'cancelBooking(' + ${ele.requestId} + ','+${currentPage}+')'">Đồng ý</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Modal Cancel-->
                  <div class="modal fade"  th:id="'modalReturn'+${ele.requestId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
                       aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel3">Trả phòng thành công!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <div class="container">
                                 <div class="row pl-2">
                                    Cảm ơn bạn vì đã chọn chúng tôi. Hy vọng bạn sẽ có trải nghiệm
                                    tuyệt vời khi sử dụng sản phẩm/dịch vụ của chúng tôi. Rất mong
                                    sẽ tiếp tục nhận được sự ủng hộ của bạn trong thời gian tới.
                                 </div>
                                 <div class="row pl-2">
                                    Vui lòng đánh giá  giúp dịch vụ chúng tôi hoàn thiện hơn!.
                                 </div>
                              </div>
                           </div>
                           <div class="modal-footer">
                             <a  class="btn btn-secondary"  th:href="@{/view/users/list-receipts(currentPage=${currentPage})}">Đóng</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="container">
      <div class="row ">
         <div class="col-xs-6 col-md-6 float-left">
         </div>
         <div class="col-xs-6 col-md-6 float-left">
            <nav aria-label="...">
               <ul class="pagination">
                  <li th:if="${currentPage > 1}">
                     <a th:href="@{/view/users/list-receipts(currentPage=${currentPage - 1})}" aria-label="Previous" class="page-link">
                       Trước
                     </a>
                  </li>
                  <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class=" ${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
                     <a th:href="@{/view/users/list-receipts(currentPage=${pageNumber})}" th:text="${pageNumber}" class="page-link"></a>
                  </li>
                  <li th:if="${currentPage < totalPages }">
                     <a th:href="@{/view/users/list-receipts(currentPage=${currentPage +1})}" aria-label="Next" class="page-link">
                      Sau
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>

   <!-- end testimonial -->
   <div class="container">
      <div class="row">
         <div class="t-boder mb-2"></div>
      </div>
   </div>

   <div class="container mb-4">
      <div class="row">
      </div>
   </div>

   <!--  footer -->
   <footer th:replace="~{users/footer :: #footer}">
   </footer>
   <div th:replace="~{users/js-src :: #mainJs}"></div>
   <!-- sidebar -->
   <script src="/js/user/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="/js/user/custom.js"></script>
   <script src="/js/user/jquery.star-rating.js"></script>
  <script src="/js/user/apartment-cart.js"></script>
</body>

</html>