<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<footer th:fragment="footer"  id="footer">
    <div class="footer mt-0">
        <div class="copyright mt-2 t-header-bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <p class="t-header-color mb-0" >Copyright 2019 All Right Reserved By <a href="https://html.design/"> Nguyen Van Tam</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>