

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head th:replace="~{users/head :: #head}">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
      <!-- end loader -->
      <!-- header -->
         <header th:replace="~{users/navigation :: #userHeader}"></header>
<!--      <header th:replace="~{users/navigation}::#userHeader">-->

      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <div th:replace="~{users/navigation::#userCarousel}"></div>
      <!-- end banner -->
      <!-- form_lebal -->
      <section>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <form class="t-form_book" method="get" action="/view/users/search">
                     <div class="row">
                        <div class="col-md-2">
                           <label class="date t-title">Địa chỉ</label>
                           <select class="book_n" name="address" id="address">
                              <th:block th:each="ele:${address}">
                                 <option th:value="${ele.addressId}" th:text="${ele.addressName}">
                                 </option>
                              </th:block>
                           </select>
                        </div>
                        <div class="col-md-3">
                           <label class="date t-title">Ngày nhận</label>
                           <input class="book_n" name="checkIn" placeholder="Ngày nhận" type="date" th:value="${checkIn}"  >
                        </div>
                        <div class="col-md-3">
                           <label class="date t-title">Ngày trả</label>
                           <input class="book_n" name="checkOut" placeholder="Ngày trả" type="date" th:value="${checkOut}"  >
                        </div>
                        <div class="col-md-2">
                           <label class="date t-title">Số khách</label>
                           <input class="book_n" placeholder="Số khách" type="number" name="numberPersons" value="2">
                        </div>
                        <div class="col-md-2">
                           <button class="book_btn w-75 t-m-top-bottom-46">Tìm kiếm</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <!-- end form_lebal -->
      <!-- choose  section -->
      <div class="choose mt-4">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
<!--                        <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">-->
<!--                           <div class="carousel-inner">-->
<!--                              <div class="carousel-item active">-->
<!--                                 <div class="container">-->
<!--                                    <div class="carousel-caption ">-->
<!--                                       <div class="row">-->
<!--                                          <div class="col-md-12 margin_boot">-->
<!--                                             <div class="test_box">-->
<!--                                                <h4>Mark jonson</h4>-->
<!--                                                <i><img src="/images/user/te1.png" alt="#"/></i>-->
<!--                                                <p>There are many variations</p>-->
<!--                                             </div>-->
<!--                                          </div>-->
<!--                                       </div>-->
<!--                                    </div>-->
<!--                                 </div>-->
<!--                              </div>-->
<!--                              <div th:each="ele : ${promotions}"-->
<!--                                   class="carousel-item">-->
<!--                                 <div class="container">-->
<!--                                    <div class="carousel-caption ">-->
<!--                                       <div class="row">-->
<!--                                          <div class="col-md-12 margin_boot">-->
<!--                                             <div class="row">-->
<!--                                                <div class="test_box">-->
<!--                                                   <p th:text="${ele.promotionName}"></p>-->
<!--                                                   <p><span th:text="${ele.homestay.homestayName}"></span> Bắt đầu từ <span th:text=${ele.startDate}></span>đến <span th:text=${ele.endDate}></span></p>-->
<!--                                                   <p th:text="${ele.description}"></p>-->
<!--                                                   <p >Ưu đãi lên đến <h2 th:text="${ele.percentDiscount}">%</h2></p>-->
<!--                                                </div>-->
<!--                                             </div>-->
<!--                                          </div>-->
<!--                                       </div>-->
<!--                                    </div>-->
<!--                                 </div>-->
<!--                              </div>-->
<!--                           </div>-->
<!--                           <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">-->
<!--                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                           <span class="sr-only">Previous</span>-->
<!--                           </a>-->
<!--                           <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">-->
<!--                           <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                           <span class="sr-only">Next</span>-->
<!--                           </a>-->
<!--                        </div>-->
                     </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box t-cursor-pointer position-relative sendButton" onclick="findAddress(event)">
                              <figure>
                                 <input type="hidden" name="address" value="1">
                                 <img class="t-border-radius-img t-height-190 t-image-cover" src="/images/user/NhaTrang2.jpg" alt="#"/>
                              </figure>
                              <div class="position-absolute t-card-title-place" >

                                 <p class="mb-0">Nha Trang</p>
                                 <img src="/images/user/Vietnam.png" alt="#"/>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box t-cursor-pointer position-relative sendButton" onclick="findAddress(event)">
                           <figure>
                              <input type="hidden" name="address" value="2">
                              <img class="t-border-radius-img t-height-190 t-image-cover" src="/images/user/HCM.jpg" alt="#"/>
                           </figure>
                           <div class="position-absolute t-card-title-place" >
                              <p class="mb-0">TP. Hồ Chí Minh</p>
                              <img src="/images/user/Vietnam.png" class="t-image-cover" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="row">
                     <div class="col-md-12">
                           <div class="img_box t-cursor-pointer position-relative sendButton" onclick="findAddress(event)">
                           <figure>
                              <input type="hidden" name="address" value="3">
                              <img class="t-border-radius-img t-height-190 t-image-cover" src="/images/user/Hoian.jpg" alt="#"/>
                           </figure>
                           <div class="position-absolute t-card-title-place" >

                              <p class="mb-0">Hội An</p>
                              <img src="/images/user/Vietnam.png" class="t-image-cover" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box t-cursor-pointer position-relative sendButton" onclick="findAddress(event)">
                           <figure>
                              <input type="hidden" name="address" value="4">
                              <img class="t-border-radius-img t-height-190 t-image-cover" src="/images/user/Ninhbinh.jpg" alt="#"/>
                           </figure>
                           <div class="position-absolute t-card-title-place" >
                              <p class="mb-0">Ninh Bình</p>
                              <img src="/images/user/Vietnam.png" class="t-image-cover" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box t-cursor-pointer position-relative sendButton" onclick="findAddress(event)">
                           <figure>
                              <input type="hidden" name="address" value="5">
                              <img class="t-border-radius-img t-height-190 t-image-cover" src="/images/user/Danang.jpg" alt="#"/>
                           </figure>
                           <div class="position-absolute t-card-title-place" >
                              <p class="mb-0">Đà Nẵng</p>
                              <img src="/images/user/Vietnam.png" class="" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose  section -->
      <!-- our  section -->
      <div class="our mt-0">
         <div class="container ">
            <div class="row d_flex ">
               <div class="col-md-6">
                  <div class="img_box">
                     <figure><img class="t-border-radius-img mb-2" src="/images/user/img4.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="our_box">
                     <div class="titlepage">
                        <h2><span class="text_norlam">Bữa sáng </span> </h2>
                     </div>
                     <p>Đến với NTV homestay quý khách sẽ được trải nghiệm những dịch vụ sang trọng, phục vụ tận tình theo yêu cầu quý khách, đặc biệt là sự phong phú về ẩm thực theo nét văn hoá của từng vùng miền và dùng bữa sáng hoàn toàn miễn phí. </p>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our  section -->
      <!-- about -->

      <!-- end about -->
      <!-- testimonial -->
      <!-- end testimonial -->
      <!--  footer -->
      <footer th:replace="~{users/footer :: #footer}">
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->

    <div th:replace="~{users/js-src :: #mainJs}"></div>
   <div>
      <script src="/js/user/index.js"></script>
   </div>
   </body>
</html>

