<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="mainJs" id="mainJs">
    <script src="/js/user/jquery.min.js"></script>
    <script src="/js/user/popper.min.js"></script>
    <script src="/js/user/bootstrap.bundle.min.js"></script>
    <script src="/js/user/jquery-3.0.0.min.js"></script>
    <script src="/js/user/plugin.js"></script>
    <!-- sidebar -->
    <script src="/js/user/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/user/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/toastr-config.js"></script>
</div>
</html>