<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="mainJs" id="mainJs">
    <script src="/js/user/jquery.min.js"></script>
    <script src="/js/user/popper.min.js"></script>
    <script src="/js/user/bootstrap.bundle.min.js"></script>
    <script src="/js/user/jquery-3.0.0.min.js"></script>
    <script src="/js/user/plugin.js"></script>
    <!-- sidebar -->
    <script src="/js/user/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/user/custom.js"></script>
</div>
</html>