:root {
    --primary-color: #2ca01c;
    --green-color:green;
    --white-color: #ffffff;
    --icon-pimary-color: #000;
    --hover-color: #f8f8f8;
    --active-color: #3dd429;
    --secondary--color: rgb(248 248 248);
    --navbar-with: 180px;
    --footer-heigh: 56px;
    --header-heigh: 50px;
    --color-content: #f4f5f8;
    --btn-hover: #e0e0e0;
    --link-hover:#aaa8a8;
    --icon-color:#495057;
    --btn-blue:#5454e7;
    --delete-btn-color:#ff0000;
}
.link-color{
    color: var(--btn-blue);
    cursor: pointer;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-20{
    font-size: 20px !important;
}

.font-size-16{
    font-size: 16px !important;
}
.font-size-inherit{
    font-size: inherit !important;;
}

.width-100{
    width: 100% !important;
}

.text-decoration-n{
    text-decoration: none;
}

.container{
    max-width: 100%;
}

.border{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}
.text-blue{
    color: blueviolet;
}

.t-border-bm{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.flex-basic{
    display: flex;
    align-items: center;
}
.flex-jc-end{
    justify-content: flex-end;
}

.flex-sp-between{
    justify-content: space-between;
}


.flex-nowrap{
    flex-flow: nowrap;
}
.margin-lt-8{
    margin-left: 8px;
}
.height-inherit{
    height: inherit !important;;
}

.position-relative{
    position: relative;
}

.height-initial{
    height: initial !important;;
}
.margin-lt-12{
    margin-left: 12px;
}
.margin-lt-16{
    margin-left: 16px;
}

.padding-lt-0{
    padding-left: 0px;
}

.padding-lt-8{
    padding-left: 8px;
}

.padding-lt-24{
    padding-left: 24px;
}


.font-size-16{
    font-size: 16px;
}


.margin-top-24{
    margin-top: 24px;
}

.margin-top-20{
    margin-top: 20px;
}
.margin-right-24{
    margin-right: 24px;
}

.t-navbar{
    padding: 0px;
}
.font-weight-bold{
    font-weight: bold;
}
.margin-bm-12{
    margin-bottom: 12px;
}

.margin-bm-0{
    margin-bottom: 0px;
}
.margin-bm-16{
    margin-bottom: 12px;
}
.active-menu{
    background-color:var(--btn-hover);
}
.error{
    color: var(--delete-btn-color);
}

.border-radius-right-0{
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
}

.border-radius-left-0{
    border-top-left-radius:0px ;
    border-bottom-left-radius: 0px;
}
.bg-orange{
    background-color: orange !important;
}

.row-color{
    background-color: #ddd !important;
}

.ml-16{
    margin-left: 16px;
}

.mr-16{
margin-right: 16px;
}

.mb-16{
    margin-bottom: 16px;
}
.modal-backdrop{
    height: 100vh !important;
}

.height-182{
    height: 182px !important;
}


.scrollbar {
    height: 300px !important;
    overflow-y: scroll;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ccc;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #ccc;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	border: 1px solid #ccc;
}

.b-d-r-20{
    border-radius:20px;
}

.h-40{
    height:40px !important;
}

.max-width-180{
    max-width: 180px !important;
}

.h-100vh{
    height: 100vh !important;
}

img{
    width: 100% !important;
}

.btn-delete-img{
    background-color:orange
}

#result{
    display: flex;
    flex-wrap: wrap;
}

.m-r-2{
    margin-right:20px;
}

.b-r-8{
    border-radius:8px;
}
.justify-content-center{
    justify-content:center;
}

.margin-l-r-0{
        margin-right: 0px;
        margin-left: 0px;
}

.display-none{
    display:none !important;
}
.btn-delete-img {
    margin-top:8px;
    margin-bottom:8px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}